
.page {
  background: paleturquoise; 
  min-height: 100vh;
  display: flex;
}

.main {      
  display: flex;
  justify-content: center ;
  align-items: center;
}

.dollKevContainer {
  position: absolute;
  bottom: 0;         
  left: 0;
  width: 100%;        
  display: flex;    
  align-items: flex-end;  
  justify-content: center;
  gap: 2rem;         
}


.dollChar, .kevinChar {
  cursor: pointer;
}

.dollChar {
  width: 25%;  
  max-width: 250px;     /* never get bigger than this */
  min-width: 160px; 
}

.kevinChar {
  width: 20%;
  max-width: 180px;
  min-width: 110px;
}

.dollChar svg, .kevinChar svg {
  width: 100%;
  height: auto;
}

.robotChar {                  
  position: absolute; 
  cursor: pointer;
  top: 1;      
  right: 1;  
  width: 50%; 
  height: auto;
  max-width: 400px;
  min-width: 240px;
}

.robotChar svg {
  width: 100%;
  height: auto;
}

/* .dollContainer {top: 41%; left: 4%;}
.kevinContainer {top: 67.5%; left: 50%;} */